.wrapper {
    background: url(../images/pexels-legoSw.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.neon {
    color: #5e1313;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px rgba(255, 30, 0, 0.857), 0 0 100px rgba(255, 30, 0, 0.857), 0 0 110px rgba(255, 30, 0, 0.857), 0 0 140px rgba(255, 30, 0, 0.857),0 0 200px rgba(255, 30, 0, 0.857);
}

.highlight-box {
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color .5s ease-in-out, text-shadow 1s ease-in;
    // transition: text-shadow .5s ease-in;
}

.highlight-box:hover {
    text-shadow: 0 0 5px #c25454, 0 0 10px #c25454, 0 0 20px #c25454, 0 0 40px rgba(255, 30, 0, 0.857), 0 0 80px rgba(255, 30, 0, 0.857), 0 0 90px rgba(255, 30, 0, 0.857), 0 0 100px rgba(255, 30, 0, 0.857),0 0 150px rgba(255, 30, 0, 0.857);
    background-color: rgba(0, 0, 0, .75);
}