@use 'variables';
@use 'extends';
@use 'mixins';

.h1 {
    @include mixins.main-font(variables.$h1-font-size);
}

.h2 {
    @include mixins.main-font(variables.$h2-font-size);
}

.h3 {
    @include mixins.main-font(variables.$h3-font-size);
}

.hero {
    @include mixins.wrapper-bg;
}

.obj-wrapper {
    @include mixins.wrapper-bg(url(../images/stars.jpeg) no-repeat);
}

.contact-wrapper {
    @include mixins.wrapper-bg(url(../images/sith-logo.jpeg) no-repeat);
}

.neon {
    color: #5e1313;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px rgba(255, 30, 0, 0.857), 0 0 100px rgba(255, 30, 0, 0.857), 0 0 110px rgba(255, 30, 0, 0.857), 0 0 140px rgba(255, 30, 0, 0.857),0 0 200px rgba(255, 30, 0, 0.857);
}

.highlight-box {
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color .5s ease-in-out, text-shadow 1s ease-in;
}

.highlight-box:hover {
    text-shadow: 0 0 5px #c25454, 0 0 10px #c25454, 0 0 20px #c25454, 0 0 40px rgba(255, 30, 0, 0.857), 0 0 80px rgba(255, 30, 0, 0.857), 0 0 90px rgba(255, 30, 0, 0.857), 0 0 100px rgba(255, 30, 0, 0.857),0 0 150px rgba(255, 30, 0, 0.857);
    background-color: rgba(0, 0, 0, .75);
}

.btn {
    border-radius: 2rem;
    padding: .5rem 2rem;
}

.btn-primary {
    background-color: #5e1313;
    border-color: #5e1313;
    transition: all 0.2s ease-in;
}

.btn-primary:hover {
    background-color: #af1212;
    border-color: #af1212;
}

h2, h3 {
    @extend %header-shadow;
}

p.res-text {
    @extend %em-text;
}

p.box-header {
    @include mixins.main-font();
}

nav {
    // Nav should always be selectable -- necessary for objectives page where the author has their content z-indexed to 3 and was making nav bar inaccessable
    z-index: 100;
}